@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

canvas {
    width:800px;
    height:800px;
    border:5px solid black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 100vh;
}

#div-intro {
    position: absolute;
    /* Positioning the div element */
    top: 0;
    left: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: green;
    /* Green background */
    display: flex;
    /* Using flexbox for center alignment */
    justify-content: center;
    /* Horizontal center alignment */
    align-items: center;
    /* Vertical center alignment */
}

.add-button {
    background-color: blue;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button.text:hover {
    background-color: darkblue; 
}

.circle-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid lightgray;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    transition: background-color 0.3s ease;
}

#control-input {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-top: 60px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-input {
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#text-style {
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
}

#color-buttonss {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 40px;
}

#font-buttonss {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 10px;
}


.hidden {
    visibility: hidden;
}

.circle-button.black {
    background-color: black;
}

.circle-button.red {
    background-color: red;
}

.circle-button.blue {
    background-color: blue;
}

.font-button {
    background-color: white;
    border: none;
    border-radius: 50px;
    border: 2px solid darkgray;
    color: black;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
